<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <h5 class="brand-logo center">NextEpisode</h5>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <a href="/likes" class="right"><img src="{{image}}" style="vertical-align:middle; border-radius:50%;"
                alt="Profile picture" width="40px" height="40px"></img>
            <h6 style="color:white;display:inline;vertical-align:middle;margin-left:10px;">{{name}}</h6>
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/search">Search</a></li>
            <li><a href="/likes">Likes</a></li>
            <li><a href="/tv-quotes">TvQuotes</a></li>
            <li><a href="/quotes/likes">Liked TvQuotes</a></li>
            <li><a href="/recommendations">Recommendations</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>

    </div>
</nav>