<h3><i class="fas fa-tape"></i>NextEpisode</h3>
<div class="section">
    <p class="lead">Info about your favorite TV Shows!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1 google-login">
        <i class="fab fa-google left"></i> Log In Using Google
    </a>

    <a href="/auth/facebook" class="btn blue darken-1 facebook-login">
        <i class="fab fa-facebook left"></i> Log In Using Facebook
    </a>
</div>
<h5>Test korisnici za facebook login:</h5>
<table>
    <tr>
        <th>Email</th>
        <th>Password</th>
    </tr>
    <tr>
        <td>sxwssgvsib_1641572233@tfbnw.net</td>
        <td>somepassword1</td>
    </tr>
    <tr>
        <td>dmewbtomll_1641572233@tfbnw.net</td>
        <td>somepassword1</td>
    </tr>
</table>