<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/search.css">
        <title>Next Episode</title>
    </head>

    <body>
        <h3>Search a TV Show:</h3>
        <form id="form">
            <input type="text" id="search" class="search" placeholder="Search..">
        </form>
        <h6><u>Quote of the day</u>: <b>{{quote}}</b> - {{author}}</h6>
        <main id="mymain">

        </main>

        <script src="/js/search.js"></script>
    </body>

</html>