<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/search.css">
        <title>Next Episode</title>
    </head>

    <body>
        <h6>Quotes from <a href="https://github.com/msramalho/json-tv-quotes/tree/master/api">Github</a></h6>
        <main id="mymaintv">
        </main>

        <script src="/js/tv-quotes.js"></script>
    </body>

</html>