p {
    margin: 10px 0 !important;
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.google-login{
    padding: 0 1.65rem;
}

.facebook-login {
    margin-top: 20px;
}

.tv-quote-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
    letter-spacing: 0.5px;
    text-after-overflow: wrap;
    flex-wrap: wrap;
    width: 20rem;
}

.tv-quote-info span{
    width: 10rem;
}